{% load static %}
<div id="header" class="header navbar-default">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="navbar-logo"><i class="ion-ios-cloud"></i></span> <b
                class="mr-1">ILMIY MARKAZ</b></a>
        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <ul class="navbar-nav navbar-right">
        <li class="dropdown navbar-user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{% static '/images/user.png' %}" alt=""/>
                <span class="d-none d-md-inline">{{ request.user.first_name }} {{ request.user.last_name }} </span> <b class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
            </div>
        </li>
    </ul>
</div>