<nav class="pagination justify-content-end">
    <ul class="pagination">
        {% if page.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        {% comment %} {% for i in page_count %}
            {% if n_show != 0 and p_n != 0 %}
                <li {% if page.number == i %} class="page-item active" {% else %} class="page-item" {% endif %}><a
                        class="page-link"
                        href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %} {% endcomment %}

        {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">Last
                &raquo;</a></li>
        {% endif %}
    </ul>
</nav>