{% extends 'base.html' %}
{% load static %}
{% load page_tags %}
{% block title %}ILMIY MARKAZ{% endblock title %}
{% block content %}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="javascript:;">Bosh sahifa</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Sertifikatlar</a></li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Sertifikatlar</h1>
    <!-- end page-header -->

    <div  class="panel panel-inverse" data-sortable-id="table-basic-7">
        <!-- begin panel-heading -->
        <div class="panel-heading">
            <h4 class="panel-title">
                <button href="{% url 'create_certificate' %}" data-toggle="modal" type="button" style="margin-left: 15px; margin-top: 5px;"
                class="addUser btn btn-primary btn-sm"><i class="fa fa-plus mr-1"></i>Qo'shish</button>
            </h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                   data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                   data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <div class="panel-body">
            <!-- begin table-responsive -->
            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline justify-content-start">
                        <div class="form-group mx-sm-3 mb-3">
                            <label style="margin-right: 5px"><strong>Show</strong></label>
                            <select id="id_n_show" name="n_show" class="form-control selectpicker"
                                    data-style="btn-white">
                                {% get_pages as all_pages %}
                                {% for item in all_pages %}
                                    <option  {% if n_show == item.value %} selected {% endif %} value="{{ item.value }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button {% if p_n == 0 %} disabled {% endif %} type="submit" class="btn btn-outline-warning btn-sm mb-3">Show
                        </button>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-inline justify-content-end">
                        <div class="form-group mx-sm-3 mb-3">
                            <input type="text" name="search"
                                                     value="{{ search }}" class="form-control "
                                                     placeholder="Search..." style="width: 250px">
                        </div>
                        <button type="submit" class="btn btn-success mb-3"><i
                                class="fa fa-search"></i>Search
                        </button>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table
                        class="table table-striped table-bordered table-td-valign-middle table-hover">
                    <thead>
                    <tr class="text-center">
                        <th width="1%">Tr</th>
                        <th class="text-nowrap">Familiya</th>
                        <th class="text-nowrap">Ism</th>
                        <th class="text-nowrap">Sharifi</th>
                        <th class="text-nowrap">Jshshr</th>
                        <th class="text-nowrap">Invoice</th>
                        <th class="text-nowrap">Kurs</th>
                        <th class="text-nowrap">Boshlangan kun</th>
                        <th class="text-nowrap">Tugagan kun</th>
                        <th class="text-nowrap">Oy</th>
                        <th class="text-nowrap">Sertifikat nomeri</th>
                        <th class="text-nowrap">Millat</th>
                        <th class="text-nowrap">Status</th>
                        <th class="text-nowrap">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if p_n != 0 %}
                        {% for certificate in page.object_list %}
                            <tr class="text-center">
                                <td id="counter_ar">{{ forloop.counter0|add:page.start_index }}</td>
                                <td>{{ certificate.first_name }}</td>
                                <td>{{ certificate.last_name }}</td>
                                <td>{{ certificate.middle_name }}</td>
                                <td>{{ certificate.jshshr }}</td>
                                <td>{{ certificate.invoice }}</td>
                                <td>{{ certificate.course.name }}</td>
                                <td>{{ certificate.start_date }}</td>
                                <td>{{ certificate.end_date }}</td>
                                <td>{{ certificate.month }}</td>
                                <td>{{ certificate.cer_nomer }}</td>
                                <td>{{ certificate.nationality }}</td>
                                <td><span class="badge {% if certificate.status %} badge-success {% else %} badge-danger {% endif%}" style="font-size: 10px;">{{ certificate.status }}</span></td>
                                <td class="with-btn" nowrap>

                                <a href="{% url 'view_certificate' certificate.id %}" title="Ko'rish" class="userModal"
                                    data-toggle="tooltip"
                                    style="color: #0188d0">
                                     <i class="fas  fa-fw m-r-15 fa-eye"></i>
                                 </a>
 
                                 <a href="{% url 'edit_certificate' certificate.id %}" title="O'zgartirish" class="userModal" data-toggle="tooltip"
                                    style="color: #3c9a06"><i class="fas  fa-fw m-r-15 fa-pencil-alt"></i></a>
 
                                 <a href="{% url 'delete_certificate' certificate.id %}" title="O'chirish" data-toggle="tooltip"
                                    class="userModal"
                                    style="color: #f83333"><i
                                         class="fas  fa-fw m-r-15 fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if p_n == 0 %}
                        <tr class="text-center"><td class="panel-warning" colspan="5"><h2 style="font-family: Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol">No elements.</h2></td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-top: 1.5em">
                    <b>Showing {{ page.start_index }} to {{ page.end_index }} of {{ p_n }} entries</b>
                </div>
                <div class="col-md-6" style="padding-top: 1em">
                    {% include 'refresher_course/includes/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}