{% extends 'base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}
{% block base_content %}
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-v1">
        <!-- begin login-container -->
        <div class="login-container">
            <!-- begin login-header -->
            <div class="login-header">
                <div class="brand">
                    <span class="logo"><i class="ion-ios-cloud"></i></span> <b>ILMIY MARKAZ</b> UZBMB
                    <small>Malaka oshirish kurslari sertifikati</small>
                </div>
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <!-- end login-header -->
            <!-- begin login-body -->
            <div class="login-body">
                <!-- begin login-content -->
                <div class="login-content">
                    <form  method="POST" class="margin-bottom-0">
                        {% csrf_token %}
                        <div class="form-group m-b-20">
                            <input type="text" name="username" class="form-control form-control-lg inverse-mode" placeholder="Username" required />
                        </div>
                        <div class="form-group m-b-20">
                            <input type="password" name="password" class="form-control form-control-lg inverse-mode" placeholder="Password" required />
                        </div>
                        <br>
                        <div class="login-buttons">
                            <button type="submit" class="btn btn-success btn-block btn-lg">Kirish</button>
                        </div>
                    </form>
                </div>
                <!-- end login-content -->
            </div>
            <!-- end login-body -->
        </div>
        <!-- end login-container -->
    </div>
    <!-- end login -->

</div>
{% endblock base_content %}